<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>О проекте</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">PetStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Товары
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li th:each="pet:${#lists.sort(pets, sortPetsById)}">
              <a class="dropdown-item" th:href="@{/products(pId=${pet.getId()}, pTId=0, pTDId=0)}" th:text="${pet.getName()}">Text</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/purchases">Корзина</a>
        </li>
        <li class="nav-item" th:if="${userRole} == 'GUEST'">
          <a class="nav-link" href="/login">Войти</a>
        </li>
        <li class="nav-item" th:if="${userRole} == 'GUEST'">
          <a class="nav-link" href="/sign">Зарегистрироваться</a>
        </li>
        <li class="nav-item" th:if="${userRole} == 'ADMIN' or ${userRole} == 'USER'">
          <a class="nav-link" href="/logout">Выйти</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Другое
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li th:if="${userRole} == 'ADMIN'"><a class="dropdown-item" href="/admin">Админ панель</a></li>
            <li><a class="dropdown-item" href="/about">О проекте</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
<div class="content padding-site">
  <p class="h1">Курсовая работа</p>
  <p class="h3">ИКБО-01-19 Яновский Владислав Валерьевич</p>
  <p>В качестве темы для курсовой работы была выбрана разработка web-
    приложения на тему «Зоомагазин» с использованием объектно-
    ориентированного языка Java.<br><br>
    С развитием интернет-технологий информация становилась все более и
    более доступной, в связи с чем популярность web-ресурсов росла с огромной скоростью. Многие предприниматели, ранее не имевшие никакого отношения к глобальной сети, обратили внимание, что при достижении своих целей интернет может дать отличный бонус при работе с ним. В связи с этим программисты начали создавать информативные сайты, интернет-магазины и рекламы в сети.<br><br>
    С появлением интернет-магазинов компаниям стало легче продавать и
    распространять свой товар. Покупателям больше не надо ехать в другой конец города для того, чтобы лишь увидеть и подобрать товар, теперь им достаточно перейти по ссылке, выбрать нужные категории и товары, после чего сравнить продукты и купить их. Покупку можно получить либо в пункте самовывоза, либо забрать у курьера, который сам привезет товар прямо к вашему порогу.<br><br>
    Основываясь на описанные ранее положительные характеристики интернет-магазинов, нетрудно понять, почему популярность и востребованность web-магазинов не перестает падать и по сей день.
    Целью работы является создание сайта, посвященного продаже товаров для животных. Для достижения цели требуется:<br>
  <ul class="list-group">
    <li class="list-group-item">Придать внешний вид интернет-ресурса</li>
    <li class="list-group-item">Реализовать работу с базой данных</li>
    <li class="list-group-item">Реализовать возможность регистрации</li>
    <li class="list-group-item">Реализовать возможность фильтрации и выбора категорий</li>
    <li class="list-group-item">Реализовать возможность добавления товара в корзину</li>
    <li class="list-group-item">Протестировать работу web-приложения</li>
  </ul>
  </p>
  <div class="card" style="width: 18rem;">
    <img src="img/about/github-profile-pic.png" class="card-img-top" alt="github-profile-pic">
    <div class="card-body">
      <h5 class="card-title">Github репозиторий PetStore</h5>
      <p class="card-text">Java course work.</p>
      <a href="https://github.com/tevkr/PetStore" class="btn btn-primary">Перейти</a>
    </div>
  </div>
</div>
</body>
</html>