<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PetStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Товары
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li th:each="pet:${#lists.sort(pets, sortPetsById)}">
                            <a class="dropdown-item" th:href="@{/products(pId=${pet.getId()}, pTId=0, pTDId=0)}" th:text="${pet.getName()}">Text</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/purchases">Корзина</a>
                </li>
                <li class="nav-item" th:if="${userRole} == 'GUEST'">
                    <a class="nav-link" href="/login">Войти</a>
                </li>
                <li class="nav-item" th:if="${userRole} == 'GUEST'">
                    <a class="nav-link" href="/sign">Зарегистрироваться</a>
                </li>
                <li class="nav-item" th:if="${userRole} == 'ADMIN' or ${userRole} == 'USER'">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Другое
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li th:if="${userRole} == 'ADMIN'"><a class="dropdown-item" href="/admin">Админ панель</a></li>
                        <li><a class="dropdown-item" href="/about">О проекте</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" th:method="GET" th:action="@{/search}" >
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" name="name">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>
<div class="content padding-site">
    <p class="h1">Зоомагазин PetStore</p>
    <p>Спасибо за то, что выбрали наш интернет-магазин. Уверены, что вы не пожалеете о своем решении, ведь «PetStore» – это более <b>4 тысяч</b> наименований товаров для животных.<br>
        Мы предлагаем продукцию проверенных производителей, как российских, так и зарубежных. Огромный ассортимент позволит каждому покупателю выбрать что-нибудь вкусное и полезное для своего любимца.<br>
        <b>Каталог содержит:</b><br>
        — корма (лечебные и ежедневные) для кошек, собак, рыб, птиц, грызунов;<br>
        — лакомства и подкормки;<br>
        — аксессуары (миски, поилки, одежда, поводки, клетки, игрушки, туалеты, наполнители, аквариумы).<br>
        Мы удобно расположили товары в каталоге по разделам, чтобы вы легко могли найти нужную позицию. Каждый вид продукции имеет характеристики, с которыми можно ознакомиться перед покупкой. На сайте представлена исключительно актуальная информация, так как ассортимент продукции постоянно пополняется. Удобная навигация позволит в два клика купить необходимый товар.<br>
        У нас работает профессиональная курьерская служба, доставляющая заказы точно в срок. Наши сотрудники всегда предупредительны и вежливы.
    </p>
</div>
</body>
</html>