<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подкатегории</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">Админ панель PetStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/pets">Питомцы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/product-types">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/product-types-detailed">Подкатегории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/products">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/users">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Вернуться на сайт</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="content padding-site">
    <h3>Изменить подкатегорию</h3>
    <form th:method="POST" th:action="@{/admin/product-types-detailed/change}">
        <div class="mb-3">
            <input type="hidden" Name="id" th:value="${productTypeDetailed.getId()}">
            <label for="select">Выберите питомца</label>
            <select class="form-select" aria-label="Default select example" id="select" Name="petId" required>
                <option th:each="pet: ${#lists.sort(pets, sortPetsById)}" th:value="${pet.getId()}" th:text="${pet.getName()}" th:selected="${productTypeDetailed.getPetId() == pet.getId()}">TEXT</option>
            </select>
            <label for="productTypeSelect">Выберите категорию</label>
            <select class="form-select" aria-label="Default select example" id="productTypeSelect" Name="productTypeId" required>
            </select>
            <label for="exampleFormControlInput1" class="form-label">Имя подкатегории</label>
            <input required type="text" class="form-control" id="exampleFormControlInput1" th:placeholder="${productTypeDetailed.getName()}" th:value="${productTypeDetailed.getName()}" Name="name">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Изменить</button>
        </div>
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var petSelect = document.getElementById("select");
        var productTypeSelect = document.getElementById("productTypeSelect");
        window.addEventListener('load', (event) => {
            fillProductTypeSelect();
        });
        petSelect.addEventListener("change", function() {
            fillProductTypeSelect();
        });
        function fillProductTypeSelect() {
            var petId = petSelect.options[petSelect.selectedIndex].value;
            productTypeSelect.innerHTML = "";
            var producttypes = [[${productTypeService}]];
            producttypes = producttypes.allProductTypes;
            producttypes.sort((a,b) => a.id - b.id);
            for (var i = 0; i < producttypes.length; i++) {
                if(producttypes[i].petId == petId) {
                    let optionElement = document.createElement('option');
                    optionElement.value = producttypes[i].id;
                    optionElement.text = producttypes[i].name;
                    if (producttypes[i].id == [[${productTypeDetailed.getProductTypeId()}]])
                        optionElement.selected = true;
                    productTypeSelect.append(optionElement);
                }
            }
        }
        /*]]>*/
    </script>
</div>
</body>
</html>